<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563576548283-2d670tuvg3ifhi4e229ps59ftk0qj154.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563576548283-2d670tuvg3ifhi4e229ps59ftk0qj154</string>
	<key>API_KEY</key>
	<string>AIzaSyBmxHtCG2rst1ApnPChjKxS9XaZy317PO0</string>
	<key>GCM_SENDER_ID</key>
	<string>563576548283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokemon.slwe2</string>
	<key>PROJECT_ID</key>
	<string>slwe-50462</string>
	<key>STORAGE_BUCKET</key>
	<string>slwe-50462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563576548283:ios:d6592e0dc07fc9f56d729e</string>
	<key>DATABASE_URL</key>
	<string>https://slwe-50462.firebaseio.com</string>
</dict>
</plist>